<footer class="footer_paranoidandroid">
<a class="subscribe_paranoidandroid icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_paranoidandroid">Subscribe!</span></a>
<div class="footertext_paranoidandroid">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
<div class="footertext_paranoidandroid">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>
